<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Warehouse Robot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" >
</head>
<body>

    <form>
        <label for="nombre">Warehouse Robot is in Z</label>
        
        <button type="submit">Go to A</button>
        
        <button type="submit">Go to B</button>
    </form>

</body>
</html>