<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Warehouse Robot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_hidden.css') }}" >
</head>
<body>

    <div class="separator" >
        <form class="contact-form" method="post" action="{{ url_for('control.hidden_forward') }}"
            style="background-color: rgb(237, 171, 64);"
        >
            <label for="nombre">Hidden </label>
            <button onclick="cambiarContenidoUno()" style="background-color: rgb(210, 97, 11);" >
                Forward
            </button>
    
        </form>
        
        <form class="contact-form" method="post" action="{{ url_for('control.hidden_stop') }}"
            style="background-color: rgb(237, 171, 64);"
        >
            <button onclick="cambiarContenidoDos()" style="background-color: rgb(152, 68, 4);" >
                Stop
            </button>
        </form>

    </div>


    <script type=text/javascript>
        $(function() {
            $('a#test').on('click', function(e) {
                e.preventDefault()
                $.getJSON('/background_process_test',
                    function(data) {
                //do nothing
                });
                return false;
            });
            });
    </script>

    <script>
        function cambiarContenidoUno() {
            fetch('/cambiar_contenido_uno', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                mode: 'no-cors'
            })
            .then(response => response.json())
            .then(data => {
                alert(`Resultado: ${data.resultado}\nNuevo Contenido: ${data.nuevo_contenido}`);
                location.reload();  // Recargar la página para mostrar el nuevo contenido
            })
            .catch(error => console.error('Error:', error));
        }

        function cambiarContenidoDos() {
            fetch('/cambiar_contenido_dos', { method: 'POST' })
                .then(response => response.json())
                .then(data => {
                    alert(`Resultado: ${data.resultado}\nNuevo Contenido: ${data.nuevo_contenido}`);
                    location.reload();  // Recargar la página para mostrar el nuevo contenido
                });
        }
    </script>

</body>
</html>